html {
    height: 100%;
    /* Aids footer's position */
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    /* Aids footer's Margin bottom */
    margin-bottom: 60px;
}

.creatorImage {
	height: 450px;
}

.creatorDesc {
	margin-top: 15px;
	font-size: 18px;
}

.fillerBlue {
	width: 100%;
	height: 300px;
	background-color: #add8e6 !IMPORTANT;
}

.rating {
	padding-top: 20px;
}

.glyphicon-star {
	font-size: 1.4em;
	color: #fffa00;
}

#reviewHeader {
	margin-bottom: 50px;
}

#me {
	border-radius: 50%;
}

.navbar {
	border-radius: 0px !IMPORTANT;
	margin-bottom: 0px !IMPORTANT;
}

.navbar-fixed-bottom {
	opacity: .9;
}

#welcome {
	color: white;
	padding-top: 10%;
	text-align: center;
	height: 100%;
	width: 100%;
	background-image: url("../images/home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.pageFill {
	height: 100%;
	width: 100%;
	background-color: #add8e6 !IMPORTANT;
}

.portfolio {
	margin-top: 15px;
}

.row {
	margin-bottom: 15px;
}

.filler {
	width: 100%;
	height: 100px;
}

img {
	width: 100%;
}

h1 {
	margin-top: 0px !IMPORTANT;
	padding-top: 30px !IMPORTANT;
}





#footerLink {
    padding-left: 48%;
    font-size: 2em;
    font-weight: 500;
    font-style: oblique;
}


/* -----Brand----- for all .html files */
html body nav a.navbar-brand {
    font-family: 'Brush Script MT', 'Javanese Text', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gold !important;
    font-size: 2.5em;
    font-weight: 400;
    text-shadow: 2px 2px 3px white;
}

/* -----Menu----- for all .html files */
html body nav.bg-dark {
    background-color: black !important;
}

html body nav div ul.navbar-nav {
    /* ---Buttons--- */
    font-family: 'Brush Script MT', 'Javanese Text', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    padding-left: 29%;
}

.nav-link:hover {
    /* Hover properties */
    color: gold !important;
}

html body nav div ul li.active {
    /* Active properties */
    font-family: 'Brush Script MT', 'Javanese Text', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    box-shadow: 0 0 2.5px .75px goldenrod;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: 500;
    font-style: oblique;
}

/* Title for all .html files */
html body div.title {
    font-family: 'Brush Script MT', 'Javanese Text', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 8em !important;
    font-weight: 300;
}